@model FirstWebAppMVC.Models.CustomerViewModel

@{
    ViewData["Title"] = "FindCustomer";
}

<h1>FindCustomer</h1>

<div>
    <h4>CustomerViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditCustomer", new { id = Model.CustomerId }) |
    <a asp-action="Index">Back to List</a>
</div>
